/.quarto/
.Rproj.user
data/
paper/

figs/*.png
figs/*.pdf
figs/*.jpg
figs/figNetworkEM.R
figs/fig_qPCR_AM.R
figs/fig_qPCR.R

stats/*.csv
stats/bam_tax*.rds
stats/*bayes*
stats/*.stan
stats/*BRMS*
stats/stats.R
stats/fit1.rds

analysis/suillus.R
analysis/networksEM.R
analysis/run_meco_netcomp.R
analysis/networkEM_QUAL.R
analysis/enzymes.R
analysis/bayes_qPCR.R
analysis/AMF.R
analysis/profun.R